* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: LXGW WenKai !important;
  font-weight: bold !important;
  // 防止字体图标变粗
  .iconfont {
    font-weight: normal !important;
  }
}

a,
.blue {
  text-decoration: none;
  color: var(--el-color-primary);
  transition: 0.4s;
}
html {
  height: 100%;
  font-size: 14px;
}
body {
  height: 100%;
  color: #333;
  background-image: url('@/assets/images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}
/* 屏幕分辨率放大为 150 */
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
  .app-main {
    transform: scale(0.665, 0.665); /* 缩放数值需要根据效果调试 */
    transform-origin: left top;
  }
}
/* 屏幕分辨率放大为 125 */
@media (-webkit-min-device-pixel-ratio: 1.25) {
  .app-main {
    transform: scale(0.799, 0.799);
    transform-origin: left top;
  }
}
